/**
 * Jant Core Preset
 *
 * Includes basecoat UI and component styles.
 * @source "./" tells Tailwind to scan @jant/core source files for class usage.
 */

@source "./";

@import "basecoat-css";
@import "./styles/components.css";
@import "./themes/threads/style.css";

@theme {
  --radius-default: 0.5rem;
  --color-success: var(--success);
}

:root {
  --success: oklch(0.518 0.16 145.071);
}

.dark {
  --success: oklch(0.627 0.194 149.214);
}
